@import "../Common/Styles/SASS/Variables";


.worksBlock {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $backgroundColor_Primary;

  .worksContainer {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;

    .works {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-bottom: 50px;
      @media screen and (max-width: 630px) {
        justify-content: center;
      }
    }
  }
}





