.worksBlock {
    min-height: 100vh;
    background-color:  #222 !important;
}

.worksContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 630px) {
    .works {
        justify-content: center;
    }
}