@import "../Common/Styles/SASS/Variables.scss";


.header {
  display: flex;
  position: fixed;
  z-index: 999999;
  right: 0;
  left: 0;
  //flex-direction: row;
  //justify-content: start;
  align-items: center;
  //flex-wrap: wrap;
  min-height: 80px;
  background-color: $transparent_Background_Color;


  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  .navbarBrand {
    font-size: 1.6em;
    font-weight: 900;
    color: $textColor_h2;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    padding-left: 10%;
    cursor: context-menu;

    .primaryColor {
      color: $textColor_Primary;
      //z-index: 10;
    }
  }
  @media (min-width: 800px) {
    //max-width: 720px;
    width: 100%;
    float: none;
  }
}
