@import "../Common/Styles/SASS/Variables.scss";


.header {
  display: flex;
  position: fixed;
  z-index: 999999;
  right: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  background-color: $transparent_Background_Color;


  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  .navbarBrand {
    font-size: 1.6em;
    font-weight: 900;
    color: $textColor_h2;
    display: flex !important;
    flex-basis: auto;
    flex-grow: 1;
    padding-left: 10%;
    cursor: context-menu;

    .primaryColor {
      color: $textColor_Primary;
      //z-index: 10;
    }


  }
}
