@import "../../Common/Styles/SASS/Variables";


.work {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.6;
    }

    .link {
      font-family: 'Poppins', sans-serif;
      background-color: #333;
      opacity: 0.5;
      font-weight: bold;
      color: white;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
    }
  }

  .workInfo {
    background-color: $backgroundColor_Primary;
    padding: 20px;

    .workTitle {
      font-family: 'Poppins', sans-serif;
      font-size: 1.6em;
      letter-spacing: 1px;
      margin-bottom: 12px;
      font-weight: 500;
      line-height: 1.2;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin-top: 0.5em;
      color: $textColor_h3;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
    }

    .description {
      font-family: 'Poppins', sans-serif;
      color: $textColor_Span;
      margin-top: 0;
      margin-bottom: 1rem;
      box-sizing: border-box;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }
}











