@import "../../Common/Styles/SASS/Variables";
@import "../../Common/Styles/SASS/Mixins";

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.work {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin: 20px;
  margin-top: 30px;


  &.work:hover {
    border-color: $textColor_Primary;
    box-shadow: 0 0 3px $textColor_Primary;

    .link {
      color: $textColor_Primary;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.6;
    }

    .link {
      font-family: 'Poppins', sans-serif;
      background-color: #333;
      opacity: 0.5;
      font-weight: bold;
      color: white;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
    }
  }

  .workInfo {
    background-color: $backgroundColor_Primary;

    .workTitle {
      font-family: 'Poppins', sans-serif;
      font-size: 1.6em;
      letter-spacing: 1px;
      font-weight: 500;
      line-height: 1.2;
      display: block;
      @include margin(0.5em, 12px);
      color: $textColor_h3;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
    }

    .description {
      font-family: 'Poppins', sans-serif;
      color: $textColor_Span;
      box-sizing: border-box;
      display: block;
      @include margin(0em, 0rem);
    }
  }
}











