@import "../Styles/SASS/Variables.scss";
* {
    //box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    background-color: $transparent_Background_Color;

    @media (max-width: 800px) {
        //max-width: 720px;
        min-width: 80%;
        align-items: center;
    }
}