@import "../Styles/SASS/Variables.scss";
* {
    //box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    background-color: $transparent_Background_Color;

    //@media (max-width: 800px) {
    //    //max-width: 720px;
    //    max-width: 80%;
    //    align-items: center;
    //}
    //@media (max-width: 470px) {
    //    //max-width: 720px;
    //    width: 100%;
    //    background-color: $transparent_Background_Color;
    //    //align-items: center;
    //}
}