@import "./src/Common/Styles/SASS/Variables";


.skill {
  width: 250px;
  background-color: $backgroundColor_Primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;

  &.skill:hover {
    border: 3px solid $textColor_Primary;
    color: white;

  }
  .icon {
    //height: 40px;
    //width: 40px;
    background-color: $backgroundColor_Primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
     a {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: inherit;
       width: inherit;
       img {
         height: 80%;
         width: 80%;
       }
     }
    .svgIcon {
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 999px;
    }

    //.icon:before {
    // //position: absolute;
    //  content: "\f030";
    //}
    //.icon, ::after, ::before {
    //  box-sizing: border-box;
    //}
  }

  .description {
    padding: 20px;
    background-color: $backgroundColor_Primary;
  }
}

