@import "./src/Common/Styles/SASS/Variables";


.skill {
  max-width: 25%;
  max-height: 20%;
  background-color: $backgroundColor_Primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  margin-bottom: 50px;

  flex: 0 0 50%;

  .title {
    color: #ccc;
  }

  &.skill:hover {
    #iconStile {
      //background-color: $textColor_Primary;
      color: $textColor_Primary;
    }
    .title {
      color: white;
    }

    .description {
      color: #6c757d;
    }
  }



  .icon {
    background-color: $backgroundColor_Primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;


    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      width: inherit;

      //img {
      //  height: 80%;
      //  width: 80%;
      //}
    }

    .svgIcon {
      //height: 60px;
      //width: 60px;
      //background-color: white;
      //border-radius: 999px;
      #iconStile {
        //width: 80%;
        //height: inherit;
        //font-weight: 900;
        margin-top: 30px;
        font-size: 5em;
        color: white;
        //text-shadow: 0 0 20px #09aaaa;
        //font-weight: 900;

        //  &#iconStile:hover {
        //    //#iconStile {
        //    //  background-color: $textColor_Primary;
        //    color: $textColor_Primary;
        //    //}
        //
        //}
      }
    }
  }

  .description {
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 0.6em;
    margin-bottom: 2em;
    color: #888;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

  }

}

