@import "./src/Common/Styles/SASS/Variables";

.title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 100px;
  padding-left: 180px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: $textColor_h2;
  box-sizing: border-box;
  line-height: 1.2;
  margin-block-end: 1.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  @media (max-width: 757px) {
    padding-left: 0;
    justify-content: center;
    font-size: 1.2em;
  }

  h2 {
    margin: 0;

    &::before {
      content: "";
      display: block;
      position: relative;
      left: 0;
      bottom: -49px;
      height: 4px;
      width: 1.6em;
      background-color: $textColor_Primary;
    }

    .primaryColor {
      color: $textColor_Primary;
    }
  }
}






