@import "../Common/Styles/SASS/Variables";


.skillsBlock {
  min-height: 100vh;
  background-color: $backgroundColor_Second;

  .skillsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      border: 1px solid;
      background-color: $backgroundColor_Second;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 630px) {
        justify-content: center;
        //.skills:hover {
        //
        //}
      }

      .title {
        background-color: lightsteelblue;
      }
    }
  }
}


