@import "../Common/Styles/SASS/Variables";

.skillsBlock {
  min-height: 100vh;
  background-color: $backgroundColor_Second;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 350px) {
      margin-left: 0;
    }


    .skills {
      background-color: $backgroundColor_Second;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 760px) {
        justify-content: center;
      }

      .title {
        background-color: lightsteelblue;
      }
    }
  }
}


