@import "../Common/Styles/SASS/Variables";


.mainBlock {
  border: 1px solid;
  background-color: $backgroundColor_Second;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .text {
    width: 300px;
    background-color: bisque;
    color: $textColor_h2;
  }

  .photo {
    width: 300px;
    height: 400px;
    background-color: bisque;
  }
}

//position: absolute;
//top: 0;
//bottom: 0;
//left: 0;
//right: 0;
//width: 100%;
//          height: 100%;
//                     z-index: 1;
//background-size: cover;
//background-position: center;
//background-attachment: fixed;
//background-image: url(../images/header.jpeg);
//-webkit-box-shadow: inset 0 0 0 3000px rgb(30 30 30 / 80%);
//box-shadow: inset 0 0 0 3000px rgb(30 30 30 / 80%);




