.mainBlock {
    border: 1px solid;
    background-color: #b49bbe;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.text {
    width: 300px;
    background-color: bisque;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: bisque;
}