.teleworkBlock {
    border: 1px solid;
    background-color: lightsalmon;
    height: 100vh;
}

.teleworkContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

.title {
    background-color: darkgrey;
}
