@import "./src/Common/Styles/SASS/Variables";


.contactsBlock {
  min-height: 110vh;
  background-color: $backgroundColor_Primary;


  .containerForm {
    background-color: $backgroundColor_Second;
    position: relative;
    padding-block: -3em;

    //@media (max-width: 920px){
    //  justify-content: center;
    //}



    address {
      margin-bottom: 1rem;
      font-style: normal;
      line-height: inherit;

      .contact {
        display: flex;
        flex-direction: column;
        margin: 2.3em;



        &.contact span {
          display: flex;
          margin: 0.5em 0;
          line-height: 1.1;
          font-weight: 600;
          color: #aaa;
        }

        &.contact p {
          display: flex;
          margin-top: 0;
          margin-bottom: 1rem;
          color: #888;
        }

        #map_marker_alt {
          display: flex;
          font-size: 1.9em;
          margin: 0.5em 0;
          color: #09aaaa;
          text-shadow: 0 0 20px #09aaaa;
          font-weight: 900;
        }
      }
    }


    .contactsContainer {
      width: 55%;

      .title {
        background-color: darkgrey;
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .form_group {
          //display: flex;
          margin-bottom: 1rem;

          .form_control {
            width: 80%;
            padding: 0.6em 1em;
            letter-spacing: 1px;
            border-radius: 0;
            color: #aaa;
            border-color: transparent;
            background-color: rgba(0, 0, 0, 0.15);
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            cursor: inherit;
            outline: $textColor_Span;
            //justify-content: start;


            &.form_control:focus {
              border: 1px solid rgba(255, 255, 255, 0.1);
              background-color: rgba(0, 0, 0, 0.15);
            }


          }

          & textarea {
            overflow: auto;
            text-rendering: auto;
            background: #09aaaa;
            resize: none;
            font-family: inherit;
          }
        }
      }

      .submitBtn {
        display: flex;
        cursor: pointer;
        font-size: 1.1em;
        padding: 0.5em 2em;
        letter-spacing: 1px;
        border-radius: 0;
        outline: none ;
        color: #aaa;
        -webkit-box-shadow: 0 0 0 ;
        box-shadow: 0 0 0 ;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.15);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin-left: 48px;
        //justify-content: start;

        @media (max-width: 920px){
            margin-bottom: 20px;
          margin-left: 0;
            //justify-content: center;
            //position: center;
        }

        &.submitBtn:hover {
          color: white;
          background-color: rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}


