@import "../Common/Styles/SASS/Variables";


.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 700px;
  padding-right: 100px;
  scroll-behavior: smooth;

  .primaryColor {
    color: $textColor_Primary;
  }

  &.menu :hover{
    color: $textColor_Primary;
    background-color: transparent !important;
  }

  //#active :focus {
  //    color: #09aaaa !important;
  //    background-color: transparent !important;
  //  }

  a {
    color: $textColor_h3;

  }
}