@import "../Common/Styles/SASS/Variables";


.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 50%;
  padding-right: 100px;
  scroll-behavior: smooth;

  &.menu :hover, .active {
    color: $textColor_Primary;
    background-color: transparent !important;
    cursor: pointer;
  }

  a {
    color: $textColor_h3;
  }
  //@media (max-width: 767.98px)
  //.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
  //  padding-right: 0;
  //  padding-left: 0;
  //}

  //@media screen and (max-width: 767.98px) {
  //  display: none;
  //  padding-right: 0;
  //  padding-left: 0;
  //}

  @media (min-width: 800px)  {
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (max-width: 800px)  {
 display: none;
  }
}