$textColor_Span: rgba(255, 255, 255, 0.4);
$textColor_h2: #fff;
$textColor_h3: #ccc;
$textColor_Primary: #09aaaa !important;
$transparent_Background_Color: rgba(30,30,30,0.95);

$backgroundColor_Primary: #222 !important;
$backgroundColor_Second: #333 !important;


