@import "./src/Common/Styles/SASS/Variables";

.footerBlock {
  min-height: 50vh;
  border: 1px solid;
  background-color: $backgroundColor_Second;

  .footerContainer {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: $textColor_h2;
    }

    .messenger {
      border: 1px solid;
      width: 80%;
      height: 100px;
      display: flex;
      justify-content: space-between;

      .socialIcon {
        background-color: darkgrey;
        width: 50px;
        height: 50px;
      }
    }
  }
}









