@import "./src/Common/Styles/SASS/Variables";

.footerBlock {
  background-color: #111111;
  padding: 7em 0 3em 0;

  .footerContainer {
    margin-bottom: 1.5em;
    text-align: center;

    #socialIcon {
      font-size: 2.2em;
      margin-right: 0.6em;
      cursor: pointer;
      color: #aaa;

      &:hover {
        color: white;
      }
    }
  }

  .copyright {
    margin: 0;
    font-size: 0.9em;
    font-weight: 900;
    padding: 0.5em 0;
    text-align: center;
    letter-spacing: 1px;
    color: #888;

    a {
      color: #ccc;
    }

    #heart {
      margin: 0;
      color: red;
      padding: 0 0.5em;
      font-weight: 900;
    }
  }
}









